:root {
  --fonte: "Montserrat", "Krona One", "Open Sans", sans-serif;
  --gradiente: linear-gradient(180deg, #e8f5c8 0%, rgb(255, 255, 255) 80%);
  --gradiente-card: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(202, 212, 250, 0.3) 100%
  );
  --verde-claro: #e8f5c8;
  --azul-escuro: #4163da;
  --lilas-claro: #85a0ff;
  --lilas: #cad4fa;
  --lilas-escuro: #0c0421;
  --cinza-claro: #efefef;
  --branco: #ffffff;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fonte);
}

html {
  scroll-behavior: smooth;
  *:focus {
    outline-offset: 3px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--fonte);
}

/*  Accordion  */

.acordeao {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Estilo base do acordeão */

.acordeao-item {
  background-color: var(--azul-escuro);
  color: white;
  cursor: pointer;
  border: none;
  padding: 1.6rem;
  transition: background-color 0.5s ease;
  border-radius: 3.2rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
}

.botao-acordeao {
  width: 100%;
  text-align: left;
  font-weight: 700;
  background: transparent;
  color: #fff;
  align-items: center;
  border: none;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
}

.botao-acordeao {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.acordeao-item:hover {
  background: var(--lilas-claro);
  transition: 0.5s;
}

/* Estilo do conteúdo do acordeão */

.conteudo-acordeao {
  max-height: 0;
  overflow: hidden;
  position: relative;
  color: #000;
  left: -1.6rem;
  bottom: -1.6rem;
  width: 112%;
  background-color: var(--cinza-claro);
  padding: 0 18px;
  transition: max-height 0.8s ease;
  border-bottom-left-radius: 3.2rem;
  border-bottom-right-radius: 3.2rem;
  z-index: 0;
}

.conteudo-acordeao div {
  padding: 1.6rem;
  width: 95%;
}

.conteudo-acordeao div {
  font-size: 1.5rem;
}

/* Estilo para a transição do ícone */

.icone {
  transition: transform 0.5s ease;
  cursor: pointer;
  font-size: 3.2rem;
  outline: none;
}

/* seta acordeão */

.botao-acordeao[aria-expanded="true"] .icone {
  transform: rotate(180deg);
}

.conteudo-acordeao.expandido {
  max-height: 25rem;
}

@media screen and (min-width: 1440px) {
  .botao-acordeao {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  .conteudo-acordeao div {
    font-size: 2.2rem;
  }
}
